/Lab_4_Skeleton/nbproject/private/
/Lab_4_Skeleton/build/
/Lab_4_Skeleton/dist/
/Lab_4_skeleton/nbproject/private/
/Lab_5/nbproject/private/
/Lab_5/build/
/Lab_5/dist/
/Lab_6/nbproject/private/
/Lab_6/build/
/Lab_7/build/
/Lab_7/dist/
/Lab_7/nbproject/private/
